%h1 Listing acceptors

.container
  %table.table.table-bordered.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th Name acceptor
        %th Bank acceptor
        %th Account acceptor
        %th Key acceptor
        %th MFO acceptor
    %tbody
      =render @acceptors
