=link_to 'Operations', table_operations_path
|
=link_to 'Payers', payers_path
|
=link_to 'Acceptors', acceptors_path
|
=link_to 'Services', services_path
%br
=link_to 'Table', table_operations_path
|
=link_to 'Chart', chart_operations_path
