-provide(:title, 'Table')
%h1
  Table
=render 'pdf_files/upload_pdf'
=render 'filter_operations'
-if @operations.any?
  -#=will_paginate @operations
  %h3
  .container
    %table.table.table-bordered.table-striped.table-hover.table-condensed
      %caption Sum all operations #{@sum_oper}
      %thead
        %tr
          %th
            =sort_link @search, :num_ticket, 'Num ticket'
          %th
            =sort_link @search, :date_time_pay, 'Date pay'
          %th
            =sort_link @search, :payer_fio, 'Payer'
          %th
            =sort_link @search, :acceptor_name_acceptor, 'Acceptor'
          %th
            =sort_link @search, :service_name_service, 'Service'
          %th
            =sort_link @search, :destination, 'Destination'
          %th
            =sort_link @search, :sum_operation, 'Sum'
          %th
      %tbody
        =render @operations
