-provide(:title, 'Table')
%h1
  Table
=render 'pdf_files/upload_pdf'
=render 'filter_operations'
-if @operations.any?
  -#=will_paginate @operations
  %h3
  .container
    %table.table.table-bordered.table-striped.table-hover.table-condensed
      %caption Sum all operations #{@sum_oper}
      %thead
        %tr
          %th Num ticket
          %th Date pay
          %th Payer
          %th Acceptor
          %th Service
          %th Destination
          %th Sum
          %th
      %tbody
        =render @operations
